﻿@model ToDoListApp.Models.TaskListViewModel

@if (Model.InProgresstTasks.Any())
{
    <ul id="todo">
        @foreach (var item in Model.InProgresstTasks.OrderBy(x => x.DateCreated).ToList())
        {
            <li>
                <span class="check_task">
                    <a href="/Home/CompleteTask/@item.id" class="btnCompleteTask">
                        <input type="checkbox" name="IsCompleted" class="check" />
                    </a>
                </span>
                <span class="taskname-container">
                    <span class="task_name" data-id="@item.id"> @item.TaskName</span>
                    <input class="clickedit" type="text" />
                </span>
                @if (item.DueDate.HasValue)
                    {
                    <span class="due_date badge badge-secondary">@item.DueDate.Value.ToShortDateString()</span>
                }
                else
                {
                    <span class="due_date badge badge-secondary">No Due Date</span>
                }
                <span class="pull-right">
                    <a href="/Home/DeleteTask/@item.id" class="text-gray btnDelete" data-trigger="hover" data-toggle="tooltip" title="Delete Task"><i class="fa fa-times"></i></a>
                </span>
            </li>
        }
    </ul>
}
else
{
    <div class="container-fluid text-center" id="all_done">
        <h2>You're all done. Result!</h2>
        <div>
            <img src="~/Content/images/mario.png" height="128" />
        </div>
    </div>
}

@if (Model.CompletedTasks.Any())
{
    <ul id="done">
        @foreach (var item in Model.CompletedTasks.OrderBy(x => x.DateCreated).ToList())
        {
            <li>
                <span class="check_task">
                    <a href="/Home/CompleteTask/@item.id" class="btnCompleteTask">
                        <input type="checkbox" name="IsCompleted" class="check" />
                    </a>
                </span>
                <span class="taskname-container">
                    <span class="task_name" data-id="@item.id"> @item.TaskName</span>
                    <input class="clickedit" type="text" />
                </span>
                @if (item.DueDate.HasValue)
                    {
                    <span class="due_date badge badge-secondary">@item.DueDate.Value.ToShortDateString()</span>
                }
                else
                {
                    <span class="due_date badge badge-secondary">No Due Date</span>
                }
                <span class="pull-right">
                    <a href="/Home/DeleteTask/@item.id" class="btnDelete text-gray" data-trigger="hover" data-toggle="tooltip" title="Delete Task"><i class="fa fa-times"></i></a>
                </span>
            </li>
        }
    </ul>
}

<script type="text/javascript">
    $(function () {
        function endEdit(e) {
            var input = $(e.target),
                label = input && input.prev();
            if (input.val() === '') return;

            label.text(input.val() === '' ? "" : input.val());
            input.hide();
            label.show();

            var _id = $(label).data("id");
            var data = { id: _id, newTitle: input.val() };

            $.ajax({
                url: '/Home/UpdateName/',
                data: data,
                type: "POST",
                success: function (content) {
                },
                error: function (e) { alert(e); }
            });
        }


        $('body .clickedit').hide()
            .focusout(endEdit)
            .keyup(function (e) {
                if ((e.which && e.which == 13) || (e.keyCode && e.keyCode == 13)) {
                    endEdit(e);
                    return false;
                } else {
                    return true;
                }
            })
            .prev().click(function () {
                $(this).hide();
                $(this).next().show().focus();
            });
    });
</script>

@section scripts{
    <script type="text/javascript">
        $(function () {
            $('.btnDelete').tooltip('show');
        });
    </script>
}