﻿
@model ToDoListApp.Models.ListViewModel
@{
    ViewBag.Title = "My to-do list " + Model.TaskListViewModel.DateCreated.ToShortDateString();
}
<header>
    <h1>@ViewBag.Title</h1>
</header>
<main>
    <section class="newTask">
        @Html.Partial("_NewTask", model: Model.NewTaskViewModel)
    </section>

    <section id="tasks">
        @Html.Partial("_TaskList", Model.TaskListViewModel)
    </section>
</main>
 