﻿@model ToDoListApp.Models.TaskListSimpleViewModel

@{
    ViewBag.Title = "Create your to-do list below";
}

<header>
    <h1>Flask</h1>
</header>
<section class="title">
    <h2>@ViewBag.Title</h2>
</section>
<section>

    @using (Html.BeginForm("NewList", "Home", FormMethod.Post, new { Id = "New_List" }))
    {

        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <div class="container">
            @Html.ValidationMessageFor(model => model.Title)
        </div>
        @Html.LabelFor(model => model.Title, new { @class = "d-none" })
        @Html.TextBoxFor(model => model.Title, new { @placeholder = "Type here e.g. go shopping", autofocus = "autofocus", data_toggle = "tooltip", data_trigger="manual", title = "Enter your first task and press Enter to save" })
       

        <input type="submit" value="Save task & create your list" id="btnNewList"  class="d-none"/>
    }
</section>

@section scripts{
    <script type="text/javascript">
        $(function () {
            //submit form on Enter key
            $("#Title").keydown(function (event) {
                if (event.keyCode == 13) {
                    this.form.submit();
                    return false;
                }
            });
             
            $('#Title').tooltip('show');

            //show tooltip on the bottom left
            $('#Title').on('inserted.bs.tooltip', function () {
                $('.bs-tooltip-bottom').css('opacity', '0');
            });

            $('#Title').on('shown.bs.tooltip', function () {
                var x = $(this).offset().left;
                var y = $(this).offset().top + $(this).height();

                $('.bs-tooltip-bottom').css('transform', 'translate3d(' + x + 'px, ' + y + 'px, 0px)');
                $('.bs-tooltip-bottom').css('opacity', '0.9');
            });
        });
    </script>
}