﻿body {
    font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 100%;
    color: #555;
}

h1, h2, h3, blockquote {
    font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 500;
    line-height: 1.5;
}

.text-gray {
    color: #ccc !important;
}

header {
    position: relative;
    z-index: 101;
    padding: 5px 40px 5px 40px;
    background: #843ab8;
    -moz-box-shadow: inset 0 -1px 0 rgba(0,0,0,0.4),rgba(0,0,0,0.4) 0 1px 3px,inset 0 1px 0 rgba(255,255,255,0.2);
    -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,0.4), rgba(0,0,0,0.4) 0 1px 3px, inset 0 1px 0 rgba(255,255,255,0.2);
    box-shadow: inset 0 -1px 0 rgba(0,0,0,0.4), rgba(0,0,0,0.4) 0 1px 3px, inset 0 1px 0 rgba(255,255,255,0.2);
    background-image: url('/assets/noise-6c9cbd8….png'),url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiP…dpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
    background-size: 100%;
    background-image: url('/assets/noise-6c9cbd8….png'),-webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #a648c4), color-stop(100%, #7930a7));
    background-image: url('/assets/noise-6c9cbd8….png'),-moz-linear-gradient(#a648c4, #7930a7);
    background-image: url('/assets/noise-6c9cbd8….png'),-webkit-linear-gradient(#a648c4, #7930a7);
    background-image: url('/assets/noise-6c9cbd8….png'),linear-gradient(#a648c4, #7930a7);
    background-size: 50px 50px, auto;
    zoom: 1;

    h1 {
        margin: 0;
        padding: 0;
        font-weight: normal;
        overflow: hidden;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        color: #fff;
        font-size: 24px;
        line-height: 48px;
    }
}

.title {
    background: #ebeef4;
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiP…dpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
    background-size: 100%;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fdfdfe), color-stop(100%, #ececf6));
    background-image: -moz-linear-gradient(#fdfdfe, #ececf6);
    background-image: -webkit-linear-gradient(#fdfdfe, #ececf6);
    background-image: linear-gradient(#fdfdfe, #ececf6);
    border-bottom: 1px solid #d1d9e9;
    position: relative;
    padding: 10px 40px;
    zoom: 1;

    h2 {
        font-size: 28px;
        margin: 0;
    }
}

#New_List {
    #Title {
        width: 100%;
        border: none;
        background: transparent;
        outline: none;
        padding: 20px 40px;
        font-size: 3em;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }
}

.tooltip.bs-tooltip-bottom, .tooltip.bs-tooltip-auto[x-placement^="bottom"] {
    margin-top: 20px;
}

.tooltip-inner {
    max-width: 500px;
}

.field-validation-error {
    color: #dc3545;
}

#notice {
    background: #1eb760;
    border-bottom: 1px solid #178b49;
    color: #fff;
    position: relative;
    text-shadow: 0 1px 0 rgba(0,0,0,0.2);
    border-right: 0;
    border-left: 0;
    border-radius: 0;
}

.newTask {
    #TaskDescription {
        border: none;
        background: transparent;
        outline: none;
        padding: 15px 40px;
        font-size: 36px;
        font-weight: 400;
        width: 100%;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }
}

#todo, #done {
    padding: 0;
    margin: 0;
    list-style: none;

    li {
        background: #fff;
        position: relative;
        z-index: 10;
        padding: 15px 40px;
        margin: -1px 0 0;
        margin-top: -1px;
        border-bottom: 1px solid #eef0f5;
        border-top: 1px solid #eef0f5;
        font-size: 22px;
        zoom: 1;
        line-height: 1.5;
    }

    & > li:first-child {
        margin-top: 0;
    }

    & > li:nth-of-type(2n+1) {
        background: #fbfcfd;
    }

    & > li:last-child {
        border-bottom: 1px solid #eef0f5;
    }
}

.due_date {
    font-size: 12px;
    line-height: 16px;
    padding: 0 7px;
    background: #eee;
    border: 1px solid transparent;
    color: #666;
    white-space: nowrap;
    display: inline-block;
    border-radius: 12px;
    vertical-align: middle;
    cursor: pointer;
    font-weight: 300;
}

.task_name {
    padding-right: 5px;
    max-width: 250px;
}

.check {
    width: 1.25em;
    height: 1.25em;
    position: relative;
    appearance: none;
    -webkit-appearance: none;
    border-radius: 0.25em;
    cursor: pointer;
    margin-right: 10px;
    float: left;

    &:focus {
        outline: none;
        border-radius: 0.25em;
        box-shadow: inset 0 0 0.1em 0 white;

        &::before {
            box-shadow: inset 0 0 0.1em 0 white;
        }
    }

    &:checked, &:hover {
        &::before {
            opacity: 1;
        }
    }

    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border: 1px solid #1eb760;
        border-radius: 0.25em;
        z-index: 1;
    }

    &::before {
        content: '\f00c';
        color: white;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        text-align: center;
        font-size: 0.75em;
        line-height: 1.65em;
        font-family: FontAwesome;
        background: #1eb760;
        z-index: 2;
        border-radius: 0.3em;
        transition: opacity .2s;
        opacity: 0;
    }
}

#done {
    color: #bbb;

    .check {
        background-color: #ebeef4;
        border-color: #ebeef4 !important;

        &::before {
            opacity: 1;
            background: #ebeef4;
        }

        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            border: 1px solid #ebeef4;
            border-radius: 0.25em;
            z-index: 1;
        }
    }

    .task_name {
        text-decoration: line-through;
    }
}

#all_done {
    border-top: 1px solid #eef0f5;
    padding: 40px;
}

.editableText {
    max-width: 250px;
    width: 100%;
    display: inline-block;
    vertical-align: middle;
}
