﻿@model ToDoListApp.Models.MessagePartialViewModel

<div class="alert alert-danger alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
    @Model.Message
</div>
