﻿@model ToDoListApp.Models.MessagePartialViewModel


<div id="fadeMessageBox" class="alert alert-success alert-dismissable fade in">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
    @Model.Message
</div>

<script type="text/javascript">
    window.setTimeout(function () {
        $("#fadeMessageBox").removeClass('in');
        window.setTimeout(function () { $("#fadeMessageBox").alert('close'); }, 150);
    }, 2000);
</script>

@if (!string.IsNullOrEmpty(Model.Url))
{
    <script type="text/javascript">
        window.setTimeout(function () {
            window.location = '@Model.Url';
            window.setTimeout(function () { $("#fadeMessageBox").alert('close'); }, 150);
        }, 2000);

    </script>
}